*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(../img/12.jpg);
   
    background-size: cover;
    background-repeat:no-repeat ;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 400px;
    border: 2px ;
    padding: 40px; 
    background:rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px  rgba(0,0,0,0.1), -5px -5px 5px 0 rgba(20,20,20,0.5);
    height: 468px;
    border-radius: 15px ;
    
    
}

h2{
    text-align:center;
    margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid#ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label{
    color:rgb(41, 28, 28);
    font-size: 18px;
    padding: 10px;
}
button{
    float: right;
    background: rgb(136, 185, 92);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px ;
    margin-right:10px ; 
    border:rgb(10, 10, 10);
}
button:hover{
opacity:.7 ;
color: rgb(12, 116, 151);
}
h6{
    text-align: center;
}
.error{
  background:#F2DEDE ; 
  color: #A94442 ;
  padding: 15px;
  width: 313px ;
  border-radius: 5px;
}


